{% extends "base.html" %}
{% block title%}API List{% endblock %}
{% block css%}
<link href="/static/css/app-20170122.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="text-center">
    <h1>API List</h1>
    <a href="/" class="btn btn-xs btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for api in content %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="head{{ api.id }}">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#{{ api.id }}" aria-expanded="false" aria-controls="{{ api.id }}">
                            {{ api.name }}
                        </a>
                    </h4>
                </div>
                <div id="{{ api.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}" role="tabpanel"
                     aria-labelledby="head{{ api.id }}">
                    <div class="panel-body">
                        <ul>
                            <li>Description: {{ api.desc }}</li>
                            <li>URL: <a href="{{ api.url }}" target="_blank">{{ api.url }}</a></li>
                            <li>Methos: {{ api.method }}</li>
                            <li>Parameters: <ul>{% for param in api.parameters %}<li>{{ param |safe }}</li>{% endfor %}</ul></li>
                            <li>Example Response: <code>{{ api.example_response | safe }}</code></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js%}
<script src="/static/js/app-20170122.min.js"></script>
{% endblock %}
